@import "../../variables.scss";

.features {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	margin-bottom: 25px;

	@media (max-width: 1050px) {
		margin-bottom: 120px;
		flex-direction: column;
		align-items: center;
		text-align: center;
	}

	@media (max-width: 540px) {
		margin-bottom: 60px;
	}
}

.titleSection {
	max-width: 426px;
	margin-right: 30px;

	@media (max-width: 1050px) {
		max-width: 500px;
		margin-right: 0;
	}

	h2 {
		@include bg-text;
		margin-bottom: 34px;
		font-weight: 800;
		font-size: 34px;
		line-height: 45px;

		@media (max-width: 1050px) {
			font-size: 40px;
			margin-bottom: 10px;
		}

		@media (max-width: 600px) {
			margin-bottom: 5px;
			font-size: 32px;
			line-height: 1.4;
		}

		@media (max-width: 480px) {
			font-size: 26px;
			line-height: 1.2;
		}
	}

	p {
		display: inline-block;
		font-weight: 500;
		font-size: 16px;
		line-height: 30px;
		color: #ff8a71;
		transition: font-size 300ms ease-in-out, color 300ms ease-in-out;
		cursor: pointer;

		&:hover {
			font-size: 18px;
			color: rgba(174, 103, 250, 1);
		}

		@media (max-width: 600px) {
			margin-bottom: 30px;
		}

		@media (max-width: 480px) {
			margin-bottom: 20px;
		}

		@media (max-width: 870px) {
			font-size: 14px;
			&:hover {
				font-size: 16px;
			}
		}
	}
}

.list {
	flex: 1;
	width: 100%;
	max-width: 590px;
	text-align: left;

	// @media (max-width: 1050px) {
	// 	display: grid;
	// 	grid-template-columns: repeat(2, 1fr);
	// 	grid-template-rows: repeat(2, 1fr);
	// 	grid-column-gap: 20px;
	// 	grid-row-gap: 20px;
	// }

	li {
		width: 100%;
		@media (max-width: 600px) {
			Span {
				margin: 0 auto;
			}
		}

		div {
			display: flex;
			align-items: flex-start;
			justify-content: space-between;
			margin-bottom: 20px;

			@media (max-width: 600px) {
				flex-direction: column;
				margin-bottom: 30px;
			}

			h3 {
				margin-right: 20px;
				margin-bottom: 0;
				width: 100%;
				max-width: 182px;
				margin-top: 4px;
				font-size: 18px;
				line-height: 24px;
				@media (max-width: 1050px) {
					font-size: 20px;
				}

				@media (max-width: 600px) {
					max-width: none;
					margin-right: 0;
					margin-bottom: 5px;
					font-size: 18px;
					text-align: center;
				}

				@media (max-width: 540px) {
					font-size: 18px;
					margin-bottom: 5px;
				}

				@media (max-width: 480px) {
					margin-top: 5px;
				}
			}

			p {
				flex: 1;
				max-width: 334px;
				font-size: 14px;
				line-height: 24px;
				@media (max-width: 1050px) {
					font-size: 16px;
				}

				@media (max-width: 600px) {
					max-width: none;
					line-height: 1.5;
					text-align: center;
				}

				@media (max-width: 540px) {
					line-height: 1.6;
				}

				@media (max-width: 480px) {
					font-size: 12px;
				}
			}
		}
	}
}
