.navbar {
	display: flex;
	align-items: center;
	width: 100%;
	height: 58px;
}

.logoContainer {
	display: flex;
	align-items: center;
	height: 100%;
	// margin-right: 68px;
	flex: 1;
}

.logo {
	width: 62.56px;
	height: 16.02px;
}

.nav {
	flex-grow: 1;

	@media (max-width: 1050px) {
		display: none;
	}

	ul {
		display: flex;
		align-items: center;
		justify-content: space-between;
		max-width: 566px;

		li {
			a {
				font-weight: 500;
				font-size: 18px;
				line-height: 25px;
				color: #fff;
				cursor: pointer;
				transition: font-size 300ms ease-in-out, color 300ms ease-in-out;

				&:hover {
					font-size: 20px;
					color: rgba(244, 152, 103, 1);
				}
			}
		}
	}
}

.buttons {
	display: flex;
	align-items: center;
	height: 100%;
	margin-left: 100px;

	@media (max-width: 720px) {
		display: none;
	}

	p,
	button {
		font-weight: 500;
		font-size: 18px;
		line-height: 25px;
		color: #ffffff;
		cursor: pointer;
	}

	p {
		margin-right: 26px;
		transition: font-size 300ms ease-in-out, color 300ms ease-in-out;

		&:hover {
			font-size: 20px;
			color: rgba(244, 152, 103, 1);
		}
	}

	button {
		width: 152px;
		height: 58px;
		background: #ff4820;
		border-radius: 5px;
		transition: font-size 300ms ease-in-out, background 400ms ease-in-out;

		&:hover {
			font-size: 20px;
			background: rgba(174, 103, 250, 1);
		}
	}
}

.burger {
	z-index: 15;
	display: none;
	right: 0;
	width: 40px;
	height: 40px;
	color: #fff;
	margin-left: 26px;
	cursor: pointer;
	svg {
		height: 100%;
		width: 100%;
		fill: #fff;
	}
	path {
		stroke: #fff;
	}

	@media (max-width: 1270px) {
		right: 50px;
	}

	@media (max-width: 540px) {
		right: 35px;
	}

	@media (max-width: 460px) {
		right: 25px;
	}

	@media (max-width: 400px) {
		right: 15px;
	}

	@media (max-width: 1050px) {
		display: block;
	}
}

.openBurger {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	z-index: 10;
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background: #031b34;

	.buttons {
		display: none;
		height: auto;
		padding: 30px;
		margin-left: 40px;

		@media (max-width: 720px) {
			display: flex;
			margin-left: 10px;
			button {
				width: 120px;
			}
		}
	}

	li {
		padding: 30px;
		text-align: center;
	}
	a {
		font-weight: 500;
		font-size: 18px;
		line-height: 25px;
		color: #fff;
		cursor: pointer;
		transition: font-size 300ms ease-in-out, color 300ms ease-in-out;

		&:hover {
			font-size: 20px;
			color: rgba(244, 152, 103, 1);
		}
	}
}
