body {
	background: var(--color-bg);
}

.bg {
	padding-top: 55px;
	width: 100%;

	/* ff 3.6+ */
	background: -moz-radial-gradient(circle at 3% 27%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);

	/* safari 5.1+,chrome 10+ */
	background: -webkit-radial-gradient(circle at 3% 27%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);

	/* opera 11.10+ */
	background: -o-radial-gradient(circle at 3% 27%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);

	/* ie 10+ */
	background: -ms-radial-gradient(circle at 3% 27%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);

	/* global 92%+ browsers support */
	background: radial-gradient(circle at 3% 27%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);

	@media (max-width: 720px) {
		padding-top: 30px;
	}
}

// .center-bg {
// 	height: 100vh;
// 	background: -moz-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 25%);

// 	/* safari 5.1+,chrome 10+ */
// 	background: -webkit-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 25%);

// 	/* opera 11.10+ */
// 	background: -o-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 25%);

// 	/* ie 10+ */
// 	background: -ms-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 25%);

// 	/* global 92%+ browsers support */
// 	background: radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 25%);
// }

.container {
	margin: 0 auto;
	width: 100%;
	max-width: 1170px;

	@media (max-width: 1270px) {
		padding: 0 50px;
	}

	@media (max-width: 540px) {
		padding: 0 35px;
	}

	@media (max-width: 460px) {
		padding: 0 25px;
	}

	@media (max-width: 400px) {
		padding: 0 15px;
	}
}
