@import "../../variables.scss";

.header {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin-right: -110px;
	margin-bottom: 78px;
}

.content {
	flex: 1;
	padding: 103px 0 0 0;
	width: 100%;
	max-width: 614px;

	h1 {
		margin-bottom: 33px;

		@include bg-text;
		letter-spacing: -0.04em;
		font-weight: 800;
		font-size: 62px;
		line-height: 75px;
	}

	.description {
		margin-bottom: 40px;
		font-weight: 400;
		font-size: 20px;
		line-height: 27px;
		color: var(--color-text);
	}
}

.formBlock {
	height: 73px;
	width: 100%;
	margin-bottom: 37px;
	border-radius: 5px;
	display: flex;
	align-items: center;
	overflow: hidden;

	input {
		flex: 1;
		padding: 24px 32px;
		height: 100%;
		background: #052d56;
		font-weight: 400;
		font-size: 20px;
		line-height: 27px;
		color: #3d6184;
	}

	input::placeholder {
		font-size: 20px;
		line-height: 27px;
		color: #3d6184;
	}

	button {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;
		width: 174px;
		background: #ff4820;
		font-weight: 700;
		font-size: 20px;
		line-height: 27px;
		color: #ffffff;
		cursor: pointer;
	}
}

.peopleBlock {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	width: 100%;

	img {
		margin-right: 13px;
		height: 39px;
	}

	p {
		font-weight: 500;
		font-size: 12px;
		line-height: 38px;
		color: #fff;
	}
}

.imgBlock {
	flex: 1;
	user-select: none;
	-webkit-animation: imgBlock 20s linear infinite both;
	animation: imgBlock 20s linear infinite both;

	img {
		height: 100%;
		width: 100%;
	}
}

@-webkit-keyframes imgBlock {
	0%,
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	10%,
	30%,
	50%,
	70% {
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}
	20%,
	40%,
	60% {
		-webkit-transform: translateY(10px);
		transform: translateY(10px);
	}
	80% {
		-webkit-transform: translateY(10px);
		transform: translateY(10px);
	}
	90% {
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}
}
@keyframes imgBlock {
	0%,
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	10%,
	30%,
	50%,
	70% {
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}
	20%,
	40%,
	60% {
		-webkit-transform: translateY(10px);
		transform: translateY(10px);
	}
	80% {
		-webkit-transform: translateY(10px);
		transform: translateY(10px);
	}
	90% {
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}
}
